<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Projet Web Covid</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/not-found-page.html</location>
    </error-page>
    
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>servlet.InscriptionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestDB</servlet-name>
        <servlet-class>TestBdd</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/Inscription</url-pattern>


    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestDB</servlet-name>
        <url-pattern>/TestBdd</url-pattern>
    </servlet-mapping>

</web-app>