<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>StopCovid</display-name>
    <welcome-file-list>
        <welcome-file>/JSP/index.jsp</welcome-file>
    </welcome-file-list>


    <error-page>
        <error-code>404</error-code>
        <location>/not-found-page.html</location>
    </error-page>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>servlet.IndexServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>servlet.InscriptionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>servlet.ConnexionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FriendServlet</servlet-name>
        <servlet-class>servlet.FriendServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestDB</servlet-name>
        <servlet-class>TestBdd</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RechercheMembreServlet</servlet-name>
        <servlet-class>servlet.RechercheMembre</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>ActivitesServlet</servlet-name>
        <servlet-class>servlet.ActivitesServlet</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>NotificationsServlet</servlet-name>
        <servlet-class>servlet.NotificationsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NotificationsServlet</servlet-name>
        <url-pattern>/Notifications</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ActivitesServlet</servlet-name>
        <url-pattern>/Activites</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RechercheMembreServlet</servlet-name>
        <url-pattern>/RechercheMembre</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FriendServlet</servlet-name>
        <url-pattern>/Friend</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestDB</servlet-name>
        <url-pattern>/TestBdd</url-pattern>
    </servlet-mapping>

</web-app>